<div class="filter-container">
    <h3 class="filter-header">Filters</h3>
    <div class="filter-panel">
        <h4>Launch Year</h4>
        <div class="row">
            <div class="col-6" *ngFor="let year of yearList; index as i;">
                <label class="btn btn-success btn-block btn-sm" [class.active]="year.active">
                    <input type="radio" name="year" [id]="'year' + i" [checked]="year.active"
                        (change)="onFilterChange('year', year, $event)">
                    {{year.value}}
                </label>
            </div>
        </div>
    </div>
    <div class="filter-panel">
        <h4>Successful Launch</h4>
        <div class="row">
            <div class="col-6" *ngFor="let launch of launchList; index as i;">
                <label class="btn btn-success btn-block btn-sm" [class.active]="launch.active">
                    <input type="radio" name="launch" [id]="'launch' + i" [checked]="launch.active"
                        (change)="onFilterChange('launch', launch, $event)">
                    {{launch.value}}
                </label>
            </div>
        </div>
    </div>
    <div class="filter-panel mb-0">
        <h4>Successful Landing</h4>
        <div class="row">
            <div class="col-6" *ngFor="let landing of landingList; index as i;">
                <label class="btn btn-success btn-block btn-sm" [class.active]="landing.active">
                    <input type="radio" name="landing" [id]="'landing' + i" [checked]="landing.active"
                        (change)="onFilterChange('landing', landing, $event)">
                    {{landing.value}}
                </label>
            </div>
        </div>
    </div>
</div>